@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

#cotainer{
    /* height: 3158px; */
    margin: 0 auto;
    max-width: 1200px;
}

body{
    margin: 0 auto;
}

/* outro modo de fazer: */
/* header > img{ */
    /* align-items: center;
    display: block;
    margin: auto; */
    
header{
    text-align: center;
}

#menu{
    display: flex;
    /* gap: 10px; */
    list-style: none;
    justify-content: space-around;
}

#menu a{
    text-decoration: none;
    color: #0176C0;
}

main > img{
    width: 100%;
    align-items: center;
}

#sessao-produtos{
    display: grid;
    /* width: 1200px; */
    grid-template-columns: 1fr 1fr;
    background: #0176C0;
    align-items: center;
}

#texto-produto >img{
    display: flex;
    
}


#texto-produto{
    display: flex;
    gap: 10px;
    padding: 0;
    text-align: left;
    
}

#texto-produto >h2{
    font-size: 3rem;
    
}